<a href="https://colab.research.google.com/github/taddbackus/capstone/blob/main/Testing_the_clean_up_alt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
pip install keras

Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (2.13.1)

In [5]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import SimpleRNN, Dense
from keras.layers import LSTM
from keras.layers import Dropout

In [6]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import matplotlib.pyplot as plt

In [7]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [8]:

all_mines = pd.read_csv('/content/drive/MyDrive/Mines_Data_Clean/all_mines_no_filter_with_precip.csv')
all_mines = pd.DataFrame(all_mines)

<ipython-input-8-0d4bec27f980>:1: DtypeWarning: Columns (6,16,18,19,20,21,35,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  all_mines = pd.read_csv('/content/drive/MyDrive/Mines_Data_Clean/all_mines_no_filter_with_precip.csv')

In [9]:
columns_to_drop = ['Unnamed: 0']
all_mines = all_mines.drop(columns = columns_to_drop)


all_mines.columns

Index(['Company', 'start_date', 'Observations', 'orig_perm_id', 'mine_id',
       'State', 'water', 'trees', 'grass', 'flooded_vegetation', 'crops',
       'shrub_and_scrub', 'built', 'bare', 'snow_and_ice', 'company',
       'coalmine_op_status', 'mine_name', 'permit_id', 'national_id',
       'coal_bed_names', 'inspectable_unit_status', 'post_smcra',
       'reported_area', 'permit_application_type', 'area_mine', 'contour',
       'mountaintop', 'steep_slope', 'highwall', 'auger', 'contact',
       'Number_company_to_permit_id', 'edit_month', 'edit_year',
       'permit_weekday', 'permit_approval_month', 'permit_approval_year',
       'permit_application_year', 'WaterQuality', 'Max Temperature',
       'Precipitation'],
      dtype='object')

In [10]:
all_mines = all_mines.sort_values(by=['permit_id', 'start_date']).reset_index()

In [11]:
#all_mines = pd.read_csv('/Users\\austi\\Documents\\Capstone\\Working\\For real\\Capstone Data\\all_mines.csv')

all_mines.head(15)

,index,Company,start_date,Observations,orig_perm_id,mine_id,State,water,trees,grass,...,Number_company_to_permit_id,edit_month,edit_year,permit_weekday,permit_approval_month,permit_approval_year,permit_application_year,WaterQuality,Max Temperature,Precipitation
0,13464,TENNESSEE KENTUCKY COAL CO,2019-07-01,8.0,0070010,00000000000000001e70,ky,0.029045,0.747375,0.031408,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,-0.266105,300.600006,28.100000
1,18385,TENNESSEE KENTUCKY COAL CO,2021-07-01,4.0,0070010,00000000000000001e70,ky,0.032193,0.516882,0.051611,...,0.0,11.0,1999,Saturday,12.0,1899,NaT,-0.588503,299.100006,56.200001
2,3821,TENNESSEE KENTUCKY COAL CO,2023-07-01,4.0,0070010,00000000000000001e70,ky,0.021954,0.670695,0.064824,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,0.056293,302.100006,0.000000
3,14135,WATERS COAL CO,2019-07-01,4.0,0070015,00000000000000001e71,ky,0.030826,0.733858,0.035286,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,-0.221152,301.799988,0.000000
4,19064,WATERS COAL CO,2021-07-01,4.0,0070015,00000000000000001e71,ky,0.031337,0.740100,0.033135,...,0.0,11.0,1999,Saturday,12.0,1899,NaT,-0.705038,298.399994,53.000000
5,4504,WATERS COAL CO,2023-07-01,4.0,0070015,00000000000000001e71,ky,0.029417,0.744496,0.034142,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,0.051123,301.600006,0.000000
6,14136,MAGNUM EQUIPMENT CO,2019-07-01,6.0,0070017,00000000000000001e72,ky,0.033030,0.731213,0.036031,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,-0.632698,303.500000,0.000000
7,19065,MAGNUM EQUIPMENT CO,2021-07-01,12.0,0070017,00000000000000001e72,ky,0.033021,0.730987,0.034570,...,0.0,11.0,1999,Saturday,12.0,1899,NaT,-0.685335,300.600006,67.500000
8,4505,MAGNUM EQUIPMENT CO,2023-07-01,6.0,0070017,00000000000000001e72,ky,0.032437,0.736611,0.035406,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,0.031698,303.299988,0.000000
9,25337,T C BELL INC,2017-07-01,15.0,0070019,00000000000000001e73,ky,0.026459,0.753329,0.031344,...,0.0,11.0,1999,Saturday,12.0,1899,NaT,-0.531245,302.024994,16.725000
10,10344,T C BELL INC,2019-07-01,30.0,0070019,00000000000000001e73,ky,0.031436,0.737528,0.033672,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,-0.676931,302.799988,0.000000
11,7049,T C BELL INC,2021-07-01,59.0,0070019,00000000000000001e73,ky,0.029620,0.695838,0.040055,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,-0.741059,299.799988,66.900002
12,670,T C BELL INC,2023-07-01,30.0,0070019,00000000000000001e73,ky,0.028744,0.750542,0.032542,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,-0.280653,302.700012,0.000000
13,21420,ISLAND COAL CO,2021-07-01,8.0,0070020,00000000000000001e74,ky,0.028240,0.745875,0.031606,...,0.0,11.0,1999,Saturday,12.0,1899,NaT,-0.555605,299.799988,71.900002
14,23401,ISLAND COAL CO,2023-07-01,4.0,0070020,00000000000000001e74,ky,0.027718,0.754101,0.031860,...,0.0,11.0,1999,Saturday,12.0,1899,NaT,-0.407451,302.600006,0.000000

In [12]:
all_mines['start_date'].unique()

array(['2019-07-01', '2021-07-01', '2023-07-01', '2017-07-01'],
      dtype=object)

In [13]:
all_mines.dtypes

index                            int64
Company                         object
start_date                      object
Observations                   float64
orig_perm_id                    object
mine_id                         object
State                           object
water                          float64
trees                          float64
grass                          float64
flooded_vegetation             float64
crops                          float64
shrub_and_scrub                float64
built                          float64
bare                           float64
snow_and_ice                   float64
company                         object
coalmine_op_status             float64
mine_name                       object
permit_id                       object
national_id                     object
coal_bed_names                  object
inspectable_unit_status        float64
post_smcra                     float64
reported_area                  float64
permit_application_type        float64
area_mine                      float64
contour                        float64
mountaintop                    float64
steep_slope                    float64
highwall                       float64
auger                          float64
contact                        float64
Number_company_to_permit_id    float64
edit_month                     float64
edit_year                       object
permit_weekday                  object
permit_approval_month          float64
permit_approval_year            object
permit_application_year         object
WaterQuality                   float64
Max Temperature                float64
Precipitation                  float64
dtype: object

In [14]:
for column_name, dtype in all_mines.dtypes.items():
    if dtype == 'object':
        column_values = all_mines[column_name]

        num_unique_values = column_values.nunique()

        print(f'Column: {column_name}')
        print(f'Number of Unique Values: {num_unique_values}\n')
        value_counts = column_values.value_counts()
        print(value_counts)
        print('-------------------------------------------\n')

Column: Company
Number of Unique Values: 3065

REVELATION ENERGY LLC                525
MARTIN COUNTY COAL CORPORATION       389
LCC KENTUCKY LLC                     362
NALLY & HAMILTON ENTERPRISES INC     320
ICG HAZARD LLC                       318
                                    ...
LOGAN FORK COAL COMPANY                1
J & N PROCESSING COMPANY, L.L.C.       1
PERFORMANCE COAL COMPANY, LLC          1
CRADDOCK & SON COAL COMPANY, INC.      1
SPARKY MINING COMPANY                  1
Name: Company, Length: 3065, dtype: int64
-------------------------------------------

Column: start_date
Number of Unique Values: 4

2019-07-01    9995
2021-07-01    9702
2017-07-01    9597
2023-07-01    9368
Name: start_date, dtype: int64
-------------------------------------------

Column: orig_perm_id
Number of Unique Values: 8860

8970346    24
0130182    24
0070128    24
0268001    24
8980437    24
           ..
U003600     1
0985412     1
S303187     1
S302791     1
R067100     1
Name: orig_perm_id, Length: 8860, dtype: int64
-------------------------------------------

Column: mine_id
Number of Unique Values: 8632

0000000000000000003f    13
00000000000000000085    12
00000000000000000081    12
0000000000000000009a    12
0000000000000000005f    12
                        ..
00000000000000002d36     4
00000000000000002d33     4
00000000000000002d32     4
00000000000000002d31     4
00000000000000003139     4
Name: mine_id, Length: 8632, dtype: int64
-------------------------------------------

Column: State
Number of Unique Values: 3

ky    26530
wv     3929
tn      403
Name: State, dtype: int64
-------------------------------------------

Column: company
Number of Unique Values: 1919

NALLY & HAMILTON ENTERPRISES INC    168
MARTY CORP                          105
JAMIESON CONSTRUCTION COMPANY       102
GATLIFF COAL COMPANY                102
IKERD BANDY CO INC                   95
                                   ...
DUNN COAL & DOCK CO                   1
WHITE BUCK COAL COMPANY               1
INTERCONTINENTAL VENTURES             1
TSM MINING, INC.                      1
McCoy Enterprises Inc                 1
Name: company, Length: 1919, dtype: int64
-------------------------------------------

Column: mine_name
Number of Unique Values: 1233

MINE NO 1                    34
MINE #2                      22
MINE #1                      19
SURFACE MINE                 17
MINE NO 2                    17
                             ..
RAMADA NO. 2                  1
V.C. NO. 43 MINE              1
BEECH RUN DEEP MINE NO. 1     1
MERCER SEAM DEEP MINE         1
NOTOMINE SURFACE MINE         1
Name: mine_name, Length: 1233, dtype: int64
-------------------------------------------

Column: permit_id
Number of Unique Values: 7009

S107386    16
0980164    15
0580092    11
0807001    11
0320091     9
           ..
U200401     1
R063000     1
R059100     1
U200387     1
S000982     1
Name: permit_id, Length: 7009, dtype: int64
-------------------------------------------

Column: national_id
Number of Unique Values: 7009

WVS107386    16
KY0980164    15
KY0580092    11
KY0807001    11
KY0320091     9
             ..
WVU200401     1
WVR063000     1
WVR059100     1
WVU200387     1
WVS000982     1
Name: national_id, Length: 7009, dtype: int64
-------------------------------------------

Column: coal_bed_names
Number of Unique Values: 1187

BLUE GEM                                     665
MANCHESTER                                   323
BLUE GEM, JELLICO                            290
RIVER GEM                                    256
LILY                                         236
                                            ...
BROAZ, PEACH ORCHARD                           1
LOWER ELKHORN, NO 2 ELKHORN, NO 3 ELKHORN      1
CLILTON                                        1
BENNETT'S FORK                                 1
SPLASHDAM                                      1
Name: coal_bed_names, Length: 1187, dtype: int64
-------------------------------------------

Column: edit_year
Number of Unique Values: 42

2000.0    4141
1999.0    3938
NaT       3931
2000      3628
1999      3122
2023       261
2004.0     187
2004       174
2011.0     172
2003.0     134
2011       125
2003       102
2001.0      88
2002        87
2001        71
2002.0      67
2018.0      66
2014.0      58
2018        55
2016.0      42
2017.0      40
2012        39
2016        39
2015.0      36
2015        36
2005        34
2012.0      32
2017        31
2013.0      31
2008.0      26
2005.0      22
2006.0      22
2014        21
2013        21
2006        20
2009.0      16
2007        14
2007.0      14
2009        12
2008         9
2010.0       5
2010         4
Name: edit_year, dtype: int64
-------------------------------------------

Column: permit_weekday
Number of Unique Values: 7

Saturday     7159
Thursday     2818
Wednesday    2759
Tuesday      2700
Friday       2640
Monday       2622
Sunday        223
Name: permit_weekday, dtype: int64
-------------------------------------------

Column: permit_approval_year
Number of Unique Values: 51

1899    7056
1984    1280
1977    1210
1978     842
1983     838
1979     789
1987     681
1985     655
1986     637
1988     550
1976     538
1982     516
1980     477
1981     401
1989     394
1992     321
1991     320
1990     253
1996     241
1994     228
1975     226
1993     211
1974     173
1997     167
2001     156
1995     154
1998     141
2003     141
2002     136
1999     124
2006     120
2008     115
2005     107
2004      97
2007      93
2010      87
2000      74
1973      68
2012      65
2009      63
NaT       52
2013      51
2011      36
2014      20
2015      18
1971      12
2017      12
1970      11
1972       8
2018       5
2016       3
Name: permit_approval_year, dtype: int64
-------------------------------------------

Column: permit_application_year
Number of Unique Values: 2

NaT     20969
1899        4
Name: permit_application_year, dtype: int64
-------------------------------------------

In [15]:
columns_to_encode = ['Company', 'start_date']

all_mines_encoded = pd.get_dummies(all_mines, columns=columns_to_encode)
object_columns = all_mines_encoded.select_dtypes(include=['object'])
all_mines_encoded = all_mines_encoded.drop(columns=object_columns.columns)

In [16]:
all_mines_encoded.columns

Index(['index', 'Observations', 'water', 'trees', 'grass',
       'flooded_vegetation', 'crops', 'shrub_and_scrub', 'built', 'bare',
       ...
       'Company_ZEMA MINING COMPANY', 'Company_ZEPHYER COAL COMPANY INC',
       'Company_ZEPHYR MINING CO', 'Company_ZINN COAL CORPORATION',
       'Company_ZODIAC MINING, INC.', 'Company_ZY COAL COMPANY',
       'start_date_2017-07-01', 'start_date_2019-07-01',
       'start_date_2021-07-01', 'start_date_2023-07-01'],
      dtype='object', length=3098)

In [17]:
for column_name in all_mines_encoded.columns:
    if all_mines_encoded[column_name].dtype == 'int64':
        all_mines_encoded[column_name] = all_mines_encoded[column_name].astype('float32')

all_mines_encoded

,index,Observations,water,trees,grass,flooded_vegetation,crops,shrub_and_scrub,built,bare,...,Company_ZEMA MINING COMPANY,Company_ZEPHYER COAL COMPANY INC,Company_ZEPHYR MINING CO,Company_ZINN COAL CORPORATION,"Company_ZODIAC MINING, INC.",Company_ZY COAL COMPANY,start_date_2017-07-01,start_date_2019-07-01,start_date_2021-07-01,start_date_2023-07-01
0,13464.0,8.0,0.029045,0.747375,0.031408,0.025280,0.029814,0.036664,0.031500,0.036222,...,0,0,0,0,0,0,0,1,0,0
1,18385.0,4.0,0.032193,0.516882,0.051611,0.027663,0.111608,0.079988,0.036708,0.036163,...,0,0,0,0,0,0,0,0,1,0
2,3821.0,4.0,0.021954,0.670695,0.064824,0.024527,0.044877,0.069876,0.029673,0.029886,...,0,0,0,0,0,0,0,0,0,1
3,14135.0,4.0,0.030826,0.733858,0.035286,0.027421,0.031867,0.039150,0.032288,0.036838,...,0,0,0,0,0,0,0,1,0,0
4,19064.0,4.0,0.031337,0.740100,0.033135,0.028886,0.030761,0.035582,0.031605,0.035315,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38657,27248.0,2.0,0.032422,0.547989,0.056670,0.044381,0.066788,0.074948,0.055281,0.041408,...,0,0,0,0,0,0,0,0,0,1
38658,27305.0,3.0,0.027210,0.740494,0.035314,0.025197,0.033700,0.038406,0.032508,0.033599,...,0,0,0,0,0,0,0,0,0,1
38659,27368.0,6.0,0.027466,0.693140,0.046976,0.027153,0.042630,0.053391,0.033973,0.030361,...,0,0,0,0,0,0,0,0,0,1
38660,27618.0,3.0,0.032560,0.196347,0.048224,0.029943,0.048412,0.037446,0.360315,0.045383,...,0,0,0,0,0,0,0,0,0,1
38661,27676.0,37.0,0.029362,0.722422,0.034934,0.027830,0.032933,0.041480,0.033401,0.036840,...,0,0,0,0,0,0,0,0,0,1

In [18]:
all_mines_encoded = all_mines_encoded.replace({True: 1, False: 0})

all_mines_encoded

,index,Observations,water,trees,grass,flooded_vegetation,crops,shrub_and_scrub,built,bare,...,Company_ZEMA MINING COMPANY,Company_ZEPHYER COAL COMPANY INC,Company_ZEPHYR MINING CO,Company_ZINN COAL CORPORATION,"Company_ZODIAC MINING, INC.",Company_ZY COAL COMPANY,start_date_2017-07-01,start_date_2019-07-01,start_date_2021-07-01,start_date_2023-07-01
0,13464.0,8.0,0.029045,0.747375,0.031408,0.025280,0.029814,0.036664,0.031500,0.036222,...,0,0,0,0,0,0,0,1,0,0
1,18385.0,4.0,0.032193,0.516882,0.051611,0.027663,0.111608,0.079988,0.036708,0.036163,...,0,0,0,0,0,0,0,0,1,0
2,3821.0,4.0,0.021954,0.670695,0.064824,0.024527,0.044877,0.069876,0.029673,0.029886,...,0,0,0,0,0,0,0,0,0,1
3,14135.0,4.0,0.030826,0.733858,0.035286,0.027421,0.031867,0.039150,0.032288,0.036838,...,0,0,0,0,0,0,0,1,0,0
4,19064.0,4.0,0.031337,0.740100,0.033135,0.028886,0.030761,0.035582,0.031605,0.035315,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38657,27248.0,2.0,0.032422,0.547989,0.056670,0.044381,0.066788,0.074948,0.055281,0.041408,...,0,0,0,0,0,0,0,0,0,1
38658,27305.0,3.0,0.027210,0.740494,0.035314,0.025197,0.033700,0.038406,0.032508,0.033599,...,0,0,0,0,0,0,0,0,0,1
38659,27368.0,6.0,0.027466,0.693140,0.046976,0.027153,0.042630,0.053391,0.033973,0.030361,...,0,0,0,0,0,0,0,0,0,1
38660,27618.0,3.0,0.032560,0.196347,0.048224,0.029943,0.048412,0.037446,0.360315,0.045383,...,0,0,0,0,0,0,0,0,0,1
38661,27676.0,37.0,0.029362,0.722422,0.034934,0.027830,0.032933,0.041480,0.033401,0.036840,...,0,0,0,0,0,0,0,0,0,1

In [19]:
nan_count = all_mines_encoded.isna().sum()

nan_count_sorted = nan_count.sort_values(ascending=False)

print(nan_count_sorted.head(12))

reported_area              38662
permit_application_type    38658
edit_month                 21620
permit_approval_month      17741
highwall                   17028
inspectable_unit_status    16524
steep_slope                13740
mountaintop                13740
contour                    13740
area_mine                  13740
auger                      13740
post_smcra                 11812
dtype: int64

In [20]:
##### TESTING DROPSET
columns = all_mines_encoded.columns
column_to_exclude = ['trees', 'water', 'snow_and_ice','bare', 'built', 'shrub_and_scrub', 'crops']
columns = list(set(columns) - set(column_to_exclude))

selected_columns = all_mines_encoded[columns]

features = all_mines_encoded[columns]
target = all_mines_encoded['trees']

X, y = [], []


sequence_length = 10

for i in range(len(features) - sequence_length):
    X.append(features.iloc[i:i + sequence_length].values)
    y.append(target.iloc[i + sequence_length])

X = np.array(X)
y = np.array(y)

In [21]:
for i in all_mines_encoded.columns:
    if all_mines_encoded[i].isna().sum() > 0:
        print('{} has {}% NAs'.format(i,(all_mines_encoded[i].isna().sum() / len(all_mines_encoded))*100))

coalmine_op_status has 30.531271015467382% NAs
inspectable_unit_status has 42.739640991154104% NAs
post_smcra has 30.551963167968548% NAs
reported_area has 100.0% NAs
permit_application_type has 99.98965392374942% NAs
area_mine has 35.538771920749056% NAs
contour has 35.538771920749056% NAs
mountaintop has 35.538771920749056% NAs
steep_slope has 35.538771920749056% NAs
highwall has 44.04324659872743% NAs
auger has 35.538771920749056% NAs
contact has 30.531271015467382% NAs
Number_company_to_permit_id has 30.531271015467382% NAs
edit_month has 55.92054213439553% NAs
permit_approval_month has 45.88743469039367% NAs
WaterQuality has 14.000827686100045% NAs
Max Temperature has 13.993068128912109% NAs
Precipitation has 13.993068128912109% NAs

In [22]:
#very quick imputation
all_mines_encoded = all_mines_encoded.fillna(0)

In [149]:
#gut check using random forest

In [150]:
list(features.columns)

['Company_APPALACHIA MINING COMPANY',
 'Company_H & S COAL CO',
 'Company_PANTHER LAND CORPORATION',
 'Company_ZY COAL COMPANY',
 'Company_R C COAL COMPANY',
 'Company_BLUE GEM COAL & LAND CO',
 'Company_ST CLAIR HANOVER COAL CO',
 'Company_W & R COAL CO',
 'Company_SHAWN COAL COMPANY INC',
 'Company_DUSTY DIAMOND COMPANY INC',
 'Company_ENERGY INC',
 'Company_WILLCO ENTERPRIZES INC',
 'Company_WILLIAM & WILLARD COAL CO',
 'Company_MITCO ENTERPRISES, INC',
 'Company_STONE KING COAL CO INC',
 'Company_C & E COAL COMPANY',
 'Company_P & S MINING & CONST CO INC',
 'Company_NEWEAGLE MINING CORP.',
 'Company_H & H COAL SALES',
 'Company_EASTERN COAL CORPORATION',
 'Company_LITTLE T R COAL CO',
 'Company_COSTAIN COAL INC (II)',
 'Company_GREEN CONSTRUCTION OF INDIANA INC',
 'Company_LEXINGTON COAL COMPANY, LLC',
 'Company_SALYER COAL COMPANY',
 'Company_MERYL THORNSBURY',
 'Company_JINKS MINING, INC.',
 'Company_R & T COAL CO INC',
 'Company_BLACK MAGIC MINING INC',
 'Company_DIVORCE COAL CO INC',
 'Company_SAYLOR BROTHERS ENTERPRISES INC',
 'Company_CAPPELLARI, INC.',
 'Company_DOUBLE R COAL CO INC',
 'Company_MONTRIE COAL CO',
 'Company_ENERGY PRODUCERS ASSC INC',
 'Company_A & C COAL CO',
 'Company_KOPPER GLO MINING LLC',
 'Company_VOJO COALS INC',
 'Company_PICK & SHOVEL MINING',
 'Company_LEAD BRANCH COAL CO INC',
 'Company_D & H COAL CO',
 'Company_PEMBROKE COAL COMPANY',
 'Company_STAR LITE MINING CO INC',
 'Company_WARBRANCH MINING CO INC',
 'Company_J & E COAL CO INC',
 'Company_G & W COAL CO',
 'Company_COSTAIN COAL INC',
 'Company_DIAMOND MAY COAL COMPANY',
 'Company_NORTHERN ELKHORN COAL COMPANY',
 'Company_PRICE COAL COMPANY INC C/O LEXINGTON COAL COMPANY',
 'Company_R & R COAL CO',
 'Company_HOBAR MINING, INC.',
 'Company_HICKORY FLAT RESOURCES INC',
 'Company_PSB MINING COMPANY',
 'Company_NEW DIAMOND MINING CO INC',
 'Company_PRIMARY ENERGIES CORPORATION',
 'Company_BETHENERGY MINES INC.',
 'Company_BAILEY HILL MINING COMPANY',
 'Company_CUBBAGE COAL CO',
 'Company_CLAY COAL CORP',
 'Company_EBW ENTERPRISES, INC',
 'Company_LEWIS & LEWIS COAL CO',
 'Company_MID-SOUTHERN ENERGY CORPORATION',
 'Company_CARTER ROAG COAL COMPANY',
 'Company_RATLIFF CR COAL CO',
 'Company_JOY COAL COMPANY',
 'Company_MEADOW FORK MINING CO LLC',
 'Company_MOUNTAIN STATES LAND DEVELOPMENT INC',
 'Company_KENTEC COAL CO INC',
 'Company_S & P COAL CO',
 'Company_TIMBERLINE CONSTRUCTION CO',
 'Company_RIVER PROCESSING INC',
 'Company_NAP CORP',
 'Company_SPARKY MINING COMPANY',
 'Company_J E B CRYSTAL COAL CO',
 'Company_BLANTON BROTHERS MINING INC',
 'Company_JAGGED COAL, INC.',
 'Company_TRIPPLE G & T COAL CO INC',
 'Company_T C BELL INC',
 'Company_HI-GROUND DEVELOPMENT LLC',
 'Company_TRAM COAL COMPANY INC',
 'Company_KANAWHA ENERGY COMPANY',
 'Company_KENTUCKY FUEL CORPORATION',
 'Company_BLUE MOUNTAIN MINING, INC',
 'Company_K & B COAL CO',
 'Company_EAGLE RIDGE DEVELOPMENT GROUP, LLC',
 'Company_KATHY HOWARD',
 'Company_DINOSAURUS COAL CO',
 'Company_EARL HACKER & SON COAL CO',
 'Company_LARRY LOWE',
 'Company_LEWIS CONSTRUCTION COMPANY',
 'Company_M J K MINING INCORPORATED',
 'Company_PRINCESS SUSAN COAL COMPANY',
 'Company_NORTHEASTERN MINING OF WEST VIRGINIA, INC.',
 'Company_PROVEN COAL RESERVES, INC.',
 'Company_BEECH FORK PROCESSING, LLC',
 'Company_BIG THREE COAL CO INC',
 'Company_P & C MINING CO, INC',
 'Company_SENG BRANCH MINING COMPANY',
 'Company_HORIZON FUELS, INC.',
 'Company_MILLER BROS COAL INC',
 'Company_WESTWOOD MINING CO., INC.',
 'Company_JOHNS CREEK PROCESSING COMPANY',
 'Company_PHIL YOUNG MINING',
 'Company_LODESTAR ENERGY INC',
 'Company_PINNACLE MINING COMPANY, LLC',
 'Company_WILLIE E BLANTON',
 'Company_CNS MINING INC',
 'Company_SAM BASS COAL INC',
 'Company_VICTORY COAL CO',
 'Company_BENHAM GROUP LTD ET AL',
 'Company_ENTERPRISE COAL COMPANY',
 'Company_RED BIRD COAL CO',
 'Company_BLACKJACK COAL CO INC',
 'Company_M & J TRUCKING',
 'Company_BDCC HOLDING COMPANY INC',
 'Company_H & R COAL COMPANY',
 'Company_PROGRESS LAND CORPORATION',
 'Company_FORD ENERGY CORP',
 'Company_EASTERN KENTUCKY ENTERPR INC',
 'Company_E & C COAL CO',
 'Company_INTER-STATE LUMBER COMPANY, INC.',
 'Company_W S H CONST CO',
 'Company_S & T CONTRACTORS',
 'Company_FAIRBANKS COAL COMPANY INC',
 'Company_ALLIANCE ENERGY PRODUCERS INC',
 'Company_CONSUMERS COAL CORP',
 'Company_DEMA COAL COMPANY INC',
 'Company_T D & M COAL COMPANY',
 'Company_PETITTO BROTHERS, INC.',
 'Company_REID & SONS CONSTRUCTION',
 'Company_BROKEN HEART COAL CORP',
 'Company_BINGHAM COAL RESOURCES, LLC',
 'Company_B & M COAL CO',
 'Company_LDH ENERGY SLONES BRANCH TERMINAL LLC',
 'Company_BRO COAL INC',
 'Company_G & L COAL CO INC',
 'Number_company_to_permit_id',
 'Company_C & C COAL CO',
 'Company_MOUNTAIN SPUR COALS & ENERGY INC',
 'Company_UNITED ENERGIES INC',
 'Company_BROWN & COLLINS COAL CO INC',
 'Company_FRONTIER COAL CO INC',
 'Company_SKYLINE EXCAVATION INC',
 'Company_JERRY STALNAKER COAL COMPANY INC',
 'Company_GARY COAL CO INC',
 'Company_KING COAL COMPANY',
 'Company_DEBBIE JO DOCK INC',
 'Company_PAUL CARTER',
 'Company_SALVAGE COAL COMPANY',
 'Company_BIG LOU CONSTRUCTION CO',
 'Company_NEWCON COALS INC',
 'Company_ROOSTER BRANCH COAL CO INC',
 'Company_QUADRANGLE COAL CO',
 'Company_P & P COAL CO',
 'Company_CRESCENT INDUSTRIES INC',
 'Company_BIG VALLEY COAL CO',
 'Company_D BEST MINING, INC',
 'Company_JAMES BURKE MINING CO',
 'Company_BOOTH RIDGE COAL CO INC',
 'Company_C & B COAL CO',
 'Company_FOUR J COAL CO',
 'Company_T & M COAL CO INC',
 'Company_CAMPTON PROCESSING LLC',
 'Company_REDBIRD RESOURCES LLC',
 'Company_P P G AND A ENTERPRISES, INC.',
 'reported_area',
 'Company_COLEMAN CONTCT CORP',
 'Company_MAPLE LEAF MINING INC',
 'Observations',
 'Company_DOWELL MNG CO INC',
 'Company_LAKE ENERGY, INC.',
 'Company_CROCKETT COLLIERIES (KY) INC',
 'Company_CROLEY BROTHERS',
 'Company_THETA COAL CORPORATION',
 'Company_CLARENCE HAYES LLC',
 'Company_JUPITER HOLDINGS LLC',
 'Company_D & G MINING',
 'Company_LCC KENTUCKY LLC',
 'Company_RALEIGH WEBB',
 'Company_CORNETT COAL CO',
 'Company_MEPCO, INC.',
 'Company_SAND HILL COAL PROCESSING, LLC',
 'Company_CORBIN COAL COMPANY',
 'Company_VANDALIA MINING CORPORATION',
 'Company_DONNA KAY COAL CO INC',
 'Company_STURGEON MINING COMPANY INC',
 'Company_RILEY HALL COAL CO INC',
 'Company_VANDALIA STONE INC.',
 'Company_RUBY SLONE',
 'Company_GUYAN LAND CORPORATION OF WEST VIRGINIA',
 'Company_T & L DEVELOPMENT',
 'Company_WIND RIVER RESOURCES CORP.',
 'Company_GATLIFF COAL COMPANY',
 'Company_DORSE BACK CONSTRUCTION',
 'Company_FRASURE CREEK MINING LLC',
 'Company_WESTMORELAND COAL COMPANY',
 'Company_PINNACLE ROCK COAL CORPORATION',
 'Company_APPALACHAIN ENV TECH',
 'Company_PYXIS RESOURCES COMPANY',
 'Company_CLEM COAL CO',
 'Company_MASTER BLEND COALS & ENERGY INC',
 'Company_R A I INC',
 'Company_GOODWILL COAL CO',
 'Company_HELENA COAL CO',
 'Company_PEARLIE & CURTIS GAYHART BLDG',
 'Company_B & D COAL CO',
 'Company_BIG ELK MINING COMPANY, LLC',
 'Company_STRAIGHT CREEK COAL RESOURCES COMPANY',
 'Company_SIMMONS CREEK COAL COMPANY',
 'Company_LITTLE GOOSE COAL CO INC',
 'Company_PREMIER ELKHORN COAL LLC',
 'Company_A & T MINING CO INC',
 'Company_PHOENIX MINING INC',
 'Company_WAYNE JORDAN',
 'Company_HILTON MINING CORP',
 'Company_ILLUSION COAL COMPANY, INC.',
 'Company_BLEDSOE COAL CORPORATION',
 'Company_DAY COAL COMPANY INC',
 'Company_MANULL HOSKINS',
 'Company_A & B CONSTRUCTION',
 'Company_IMPERIAL COLLIERY COMPANY',
 'Company_CHARLIE RAWLINGS',
 'Company_BLACKJEWEL L.L.C.',
 'Company_B & W COAL COMPANY',
 'Company_AMAH LAND COMPANY INC',
 'Company_CORBIN MINING LLC',
 'Company_ELKINS, CITY OF',
 'Company_PRETZEL EXCAVATING, L.L.C.',
 'Company_LOGAN FORK COAL COMPANY',
 'Company_SOUTHERN WEST VIRGINIA ASPHALT, INC.',
 'Company_BENTCIL COAL CO',
 'Company_EDICO COAL CO',
 'Company_MUSTANG COAL INC',
 'Company_W. C. TONKERY COAL CO',
 'Company_MAGOFFIN COAL INC',
 'Company_K KISER COAL CO',
 'Company_K C ROGERS COAL CO INC',
 'Company_T & T COAL INC',
 'Company_AL-CO MINING',
 'Company_MILLS & GARLAND CONSTRUCTION C',
 'Company_MOUNTAINEER LAND CO',
 'Company_T & V COAL CO',
 'Company_DOVE ENTERPRISES OF WEST VIRGINIA, INC.',
 'Company_JAKES CREEK MINING',
 'Company_DAVID KING & SON EXCAV',
 'Company_MOUNTAIN PULASKI COAL CORP',
 'Company_CHAPPERAL COAL CORP',
 'Company_G & A CONSTRUCTION CO',
 'Company_LEIGH ANN COAL CO',
 'Company_LOTTS CREEK COAL CO',
 'Company_KENTUCKY MOUNTAIN COAL',
 'Company_A & W COAL CO INC',
 'Company_BEECHWOOD COAL & COKE INC',
 'Company_NORTH FORK COLLIERIES, LLC',
 'Company_BUCK BRANCH COAL CO INC',
 'Company_LILY MINING & ENERGY CORP',
 'Company_KY HERITAGE COAL CO',
 'Company_WILES CONST CO',
 'Company_KECOIN INC',
 'Company_T & W ENTERPRISES LLC',
 'Company_S S C MINING INC',
 'Company_B & W RESOURCES INC',
 'Company_KEENCO COAL CORPORATION',
 'Company_EDDIE WAMPLER',
 'Company_STRATA MINING INC',
 'Company_STRIPCO COAL CORP',
 'Company_C. & M. COAL CONTRACTING, INC.',
 'Company_TENKILLER MINING SERVICES INC',
 'Company_SILVER BRANCH COAL CORP',
 'Company_LAROSA FUEL COMPANY, INC.',
 'Company_GOLD RESOURCES, LLC',
 'Company_NATIONAL COAL, LLC',
 'Company_ENERGY ENTERPRISES, INC.',
 'Company_B B & T MINERALS INC',
 'Company_EDWARD BROWN',
 'Company_ELMO GREER & SONS LLC',
 'Company_JOHNNY WEST GRADING',
 'Company_KIMCO ENTERPRISES INC',
 'Company_NOGATCO, INC.',
 'Company_RITCHIE BROTHERS CONST CO',
 'Company_HIBBARD CONST  CO',
 'Company_DEBCO COAL CO',
 'Company_HIGH TOP COAL CO INC',
 'Company_EASTERN ASSOCIATED COAL, LLC',
 'Company_BLACK GOLD SALES',
 'Company_BEECH FORK PROCESSING INC',
 'Company_HILLSIDE MINING COMPANY',
 'Company_RIDGE TOP COAL CO',
 'Company_RAMSEY CONST CO',
 'Company_TANGO COAL CO INC',
 'Company_ARLEN D LAMBDIN',
 'Company_ASHERS QUALITY COAL CORPORATION',
 'Company_DENNIS DEAN COAL CO',
 'Company_A B C COAL COMPANY INC',
 'Company_H B COAL INC',
 'Company_TRIPLE C COAL COMPANY',
 'Company_FOUR STAR RESOURCES LLC',
 'Company_ENSOL COAL CO INC',
 'Company_T & R MINING CO',
 'Company_HAZEL CREEK ENERGY INC',
 'Company_TRAVELLER COAL CORPORATION',
 'Company_THREE RIVERS ENT INC',
 'Company_PRIMROSE COAL, INC.',
 'Company_MOUNTAIN FUELS, INC.',
 'Company_WILLOW COAL CO INC',
 'Company_LOST CREEK COAL OIL & GAS LEASING INC',
 'Company_DENNIS STACY',
 'Company_CORNETT & WALDEN COAL CO',
 'Company_CAIN & SONS',
 'Company_K & T EXCAVATION, INC',
 'Company_STANDARD ELKHORN MINERALS CORP',
 'Company_JUPITER COAL COMPANY, INC.',
 'Company_CALF PEN COAL COMPANY INC',
 'Company_LOGAN LUCAS COAL CO',
 'Company_BLUE GEM RESOURCES',
 'Company_CANDLE RIDGE MINING INC',
 'Company_J Y B INCORPORATED',
 'Company_CARDO COAL CO CORP',
 'Company_CHEAT MOUNTAIN TRUST, INC.',
 'Company_HEAT-X-CHANGE, LLC',
 'Company_WOLVERINE MINING CORP',
 'Company_GAR VAN COAL CO',
 'Company_A A & W COALS INC',
 'Company_K & B COAL COMPANY',
 'Company_ENERGY MARKETING COMPANY, INC.',
 'Company_FIELDS STONE QUARRY, INC.',
 'Company_GOLDEN FALCON RESOURCES, INC.',
 'Company_BUCKLEY MINING CORPORATION',
 'Company_PETER CAVE MINING COMPANY',
 'Company_TAMMY ANNE INC',
 'Company_SULLIVAN BROTHERS INC',
 'Company_CHICOPEE COAL COMPANY, INC.',
 'Company_HENSLEY BROTHERS MINING INC',
 'Company_C. E. WEBB CONSTRUCTION INCORPORATED',
 'Company_ONEIDA MINING CO',
 'Company_DLX INC',
 'Company_FREEDA MINING CO',
 'Company_ARCH COAL TERMINAL INC',
 'Company_BLUE BLAZE COAL CO',
 'Company_INTERSTATE DRILL & WELL SERVIC',
 'Company_OLDFIELD COAL CO',
 'Company_CRANE COAL CO',
 'Company_CRANKS MINING CORP',
 'Company_VIRGINIA LEE COAL CO',
 'Company_MIDNIGHT EXCAVATING',
 'Company_PUPS CREEK COALS, INC.',
 'Company_BUCKHORN PROCESSING COMPANY',
 'Company_U S ENERGY INC',
 'Company_HERNDON PROCESSING COMPANY, LLC',
 'Company_J & T CONSTRUCTION',
 'Company_MINERALS DEVELOPMENT CORP',
 'Company_GREENBRIER MINERALS, LLC',
 'Company_MARINE COAL CORPORATION',
 'Company_HALL STAR "H" MINING CO INC',
 'Company_WHITE ASH COAL CO',
 'Company_WOCAP ENERGY RESOURCES, INC.',
 'Company_MIRACLE HILL MINING INC',
 'Company_G & C COAL CO',
 'Company_DONALD WAYNE CAUDILL',
 'Company_TEN A COAL COMPANY',
 'Company_JANE LEW TRUCKING COMPANY, INC.',
 'Company_MOUNTAIN VALLEY ENERGIES CO',
 'Company_PHIL MAC ENTERPRISES INC',
 'Company_GRAYS KNOB COAL CO',
 'Company_VEGAS COALS INC',
 'Company_JOE ASHER INC',
 'Company_SANDBAR MINING CO INC',
 'Company_GULF STREAM ENERGY LLC',
 'Company_ANDALEX RESOURCES INC CIMARRON DIVISION',
 'Company_B & S COAL CO',
 'Company_THREE R LAND CO INC',
 'Company_COAL INVESTMENTS KY INC',
 'Company_MAT COUR INC',
 'Company_HUNT COAL CO',
 'Company_RED CEDAR MINING CO INC',
 'Company_THELMA COAL CO INC',
 'inspectable_unit_status',
 'Company_HALL & HYLTON MINING COMPANY',
 'Company_ANNACO INC',
 'Company_CUMBERLAND HARLAN EXPLORATION CORPORATION',
 'Company_RYAN COAL CO',
 'Company_EASTERN CONSTRUCTION CO',
 'Company_B & D COAL CO INC',
 'Company_CLOVER COAL CO INC',
 'Company_C M N FUELS INC',
 'Company_AGES CREEK FUEL CO INC',
 'Company_D & L COAL CO',
 'Company_LEE W COAL COMPANY INC',
 'Company_SHURROK COAL CORP INC',
 'Company_OLLIE DUNN',
 'Company_LAKESIDE ENERGY INC',
 'Company_DON WOOTON MINING INC',
 'Company_GRACE COAL COMPANY INC',
 'Company_HEADACHE COAL COMPANY INC',
 'Company_PINNACLE MINING CO OF N WV',
 'Company_SMITH & SAYLOR CONST CO',
 'Company_CLAUDE FULLER',
 'Company_K-STEELE CORPORATION',
 'Company_GILCO ENERGY',
 'Company_CARSON ONE MINING, LLC',
 'Company_PRICHARD ENERGIES INC',
 'Company_EASTFORK ENTERPRISES INC',
 'Company_KAYDEE CONSTRUCTION CO.',
 'Company_JMAC LEASING, INC.',
 'Company_R & B DEVELOPMENT CO INC',
 'Company_ROBLEE COAL COMPANY',
 'Company_SOUTHERN COAL RESERVES',
 'Company_BOOMERANG COAL, INC.',
 'Company_ISON COAL CO INC',
 'Company_GENE COBB CONST CO INC',
 'Company_MAKILBA MINING INC',
 'Company_B & B COAL',
 'Company_BOORHEM & CAPPS COAL CO INC',
 'Company_TESSCO CORP',
 'Company_ROBINSON COAL CO',
 'Company_THOMAS A FIELDS',
 'Company_BOTNER ENTERPRISES LLC',
 'Company_FIRST BIG MOUNTAIN MINING CO., INC.',
 'Company_STUMP COAL COMPANY INC',
 'Company_R & J COAL COMPANY INC',
 'Company_BELLE CONTRACTING, INC.',
 'Company_BOB FENTRESS',
 'Company_ROCK GAP COAL CO',
 'Company_STAR FIRE MINING COMPANY',
 'Company_SIDNEY COAL COMPANY INC',
 'Company_ATHLETES FORGE INVESTMENTS INC',
 'Company_FRANKLIN MINING INC',
 'Company_MARY ANN COALS INCORPORATED',
 'Company_BELCO CONST & MINING CO',
 'Company_FANCHON COAL COMPANY INC',
 'Company_SOUTHEASTERN KY LAND CORP',
 'Company_WEBB ELKHORN COAL CORP',
 'Company_B C & B COAL INC',
 'Company_VOLUNTEER PROCESSING INC',
 'Company_S J GROVES & SONS & FRAM COAL',
 'Company_L T RUTH COAL CO',
 'Company_ROBBE COAL CO',
 'Company_B C B COAL CO',
 'Company_HOLBROOK MINING COMPANY INC',
 'Company_MEATSKIN COAL COMPANY INC',
 'Company_RGT MINING AND CONSTRUCTION CO',
 'Company_DIGGS INC',
 'Company_ALLEY BRANCH COAL CO.',
 'Company_D & D TRUCKING',
 'Company_L & R COALS',
 'Company_CHILDERS BROS MINING CO',
 'Company_MOUNTAINSIDE COAL CO INC',
 'Company_DAN DEL COALS INC',
 'Company_EDMOND MINING CO',
 'Company_TRIPLETT BRANCH COAL CO',
 'Company_CUMBERLAND RESOURCES INC',
 'Company_CARSON ASSOCIATES INC',
 'Company_CLOVERLICK LAND CO',
 'Company_APOGEE COAL COMPANY',
 'Company_CHARLES H  BROWN',
 'Company_NOLIN ENERGY INC',
 'Company_AM SWISS RESOURCES INC',
 'Company_MCCOY BROS., INC.',
 'Company_SHARON COAL CO.',
 'Company_SIERRA COAL CO',
 'Company_HARLEY MINING, INC.',
 'Company_RATON FUELS CORP',
 'Company_BLACKSTONE COAL CO LLC',
 'Company_SCIENTIFIC ENTERPRISES',
 'Company_4 R COAL COMPANY INC',
 'Company_BIG OAK COAL COMPANY',
 'Company_MARFORK COAL COMPANY, INC.',
 'Company_BUFFALO CREEK MINERALS LTD',
 'Company_K B COAL COMPANY',
 'Company_ANTCO, INC.',
 'Company_BIG DELTA MINERALS INC',
 'Company_HOPKINS COUNTY COAL LLC',
 'Company_LESLIE COAL & ENERGY ENG INC',
 'Company_NEW ERA FUELS',
 'Company_EMPIRE STATE COAL CORP',
 'Company_BOBBY S YOUNG',
 'Company_TRIEX EXCAV CO',
 'Company_LOWER FORK MINING INC',
 'Company_L L & G COAL CO',
 'Company_G & F MINING CO',
 'Company_BUDDY COLLINS CONSTRUCTION',
 'Company_APPALACHIAN FUELS, LLC',
 'Company_HICA CORPORATION',
 'Company_MIC BAR ENERGY CO',
 'Company_TIMCO MINING CO INC',
 'Company_TAYLOR MOUNTAIN MINING CO INC',
 'Company_HENSLEY TRUCKING CORP',
 'Company_Y-HOLLOW DEVELOPMENT INC',
 'Company_FARRIS DEVELOPMENT',
 'Company_HUNSAKER COAL CO',
 'Company_J D R ENT',
 'Company_SONGBIRD COAL CO INC',
 'Company_CUMBERLAND COAL CO LLC',
 'Company_FRESA CONSTRUCTION COMPANY',
 'Company_EDEN RESOURCES',
 'Company_A B C DEVELOPING COMPANY INC',
 'Company_B & G MINING CO',
 'Company_FORTRESS RESOURCES LLC DBA MCCOY ELKHORN COAL CO',
 'Company_MAPLE RIDGE MINING CORPORATION',
 'permit_application_type',
 'Company_RASCHELLA COAL CORPORATION',
 'Company_ALLIED BLUE GEM TIPPLING CORP',
 'Company_HI GRADE MINING INC',
 'Company_NUKITT COAL COMPANY',
 'Company_KENTUCKY KING COAL INC',
 'Company_C & W COAL CO',
 'Company_COAL RUN COAL COMPANY INC',
 'Company_J. & J. GUZZI ENTERPRISES, INC.',
 'Company_COMBINED ENTERPRISES, LLC',
 'Company_WILLIAMS DOZER SERVICE INC',
 'Company_P A CONSTR CO',
 'Company_MCCREARY MINERAL CORPORATION',
 'Company_IKERD BANDY CO INC',
 'Company_CANNELTON INDUSTRIES, INC.',
 'Company_YOUNG ENERGY CORP',
 'Company_CABLE COAL COMPANY',
 'Company_GATLIFF COAL CO',
 'Company_B & C COAL CO',
 'Company_CARDINAL RECLAMATION COMPANY, LLC',
 'Company_BJORKMAN MINING COMPANY',
 'Company_CLAY KITTANNING COAL COMPANY, INC.',
 'Company_J C & P COAL CORPORATION',
 'Company_OOTEN COAL CORP',
 'Company_R & D CONSTRUCTION CO',
 'Company_ELECTRO COAL CO INC',
 'Company_H & P COAL',
 'Company_G & L COAL COMPANY',
 'Company_GOLDEN OAK MINING COMPANY',
 'Company_R J & G COAL CO',
 'Company_E & E COAL COMPANY',
 'Company_APOGEE COAL COMPANY, LLC',
 'Company_NEALY COAL COMPANY INC',
 'Company_H & V COAL CO',
 'Company_GULF COAL PROCESSING CORP',
 'Company_KIEFFER SAND AND STONE INCORPORATION',
 'Company_MCCOWEN & HUMFLEET',
 'Company_TONY SMITH COAL CO',
 'Company_F & M COAL COMPANY LIMITED PARTNERSHIP',
 'Company_ELKHORN CREEK CONSTRUCTION CO',
 'Company_GOLD STAR MINING CORPORATION',
 'Company_P & D COAL COMPANY',
 'Company_RAYLYNN MINING INC',
 'Company_PARKER & PARKER MINING CO',
 'Company_BROWNING COAL & MINERALS INC',
 'Company_JOHNSON ENERGY PARTNERSHIP LTD',
 'Company_BRISBANE MINING COMPANY',
 'Company_GARY DAVIS',
 'Company_MATT/CO INC',
 'Company_WADE RIDGE MINING INC',
 'Company_OAK BRANCH COAL MINING CO INC',
 'Company_HIGHLANDS COAL SALES INC',
 'Company_N A L R COAL CORPORATION',
 'Company_SUPERIOR ELKHORN MINING',
 'Company_MCKNIGHT MINING, INC.',
 'Company_FLO ANN MAYLE',
 'Company_COMBINED COAL CORPORATION',
 'Company_T & T DARBY COAL CO INC',
 'Company_TRIAD COAL CORP',
 'Company_GREENBRIER SMOKELESS COAL MINING, LLC',
 'Company_GUYANDOTTE QUARRIES, INC.',
 'Company_LARGE COAL CO',
 'Company_B P & S COAL CO',
 'Company_RESOURCE COAL CO',
 'Company_HILLTOP ENERGY CORP',
 'Company_GRAYLEN SHORT',
 'Company_BMR COAL CO',
 'Company_DAISETTA COAL COMPANY INC',
 'Company_KENTUCKY DIAMOND INC',
 'Company_BILLINGS CORP',
 'Company_SOUTHEASTERN MINING CO OF GA',
 'Company_S H & W COALS INCORPORATED',
 'Company_APACHE MINING CO',
 'Company_B & R MINING, LLC',
 'Company_BOVINE MINING INC',
 'Company_SOUTHERN ELKHORN COAL CORP',
 'Company_LEFT FORK MINING COMPANY INC',
 'Company_RICHARD COLLINS',
 'Company_S & J COAL CO INC',
 'Company_JACO MINING CO INC',
 'Company_LOST MOUNTAIN MINING COMPANY',
 'Company_TENNESSEE MINING INC',
 'Company_W L COAL CO',
 'Company_GEORGE SAMS',
 'Company_TERRY EAGLE COAL COMPANY, L.L.C.',
 'Company_CHEEK & ROBERTS COAL',
 'Company_EXECUTIVE COAL LLC',
 'Company_WAX ENTERPRISE',
 'Company_DOLLAR BRANCH COAL CORP',
 'Company_SWIFT CREEK DEVELOPMENT COMPANY, INC.',
 'Company_LINDA LEASING',
 'Company_SUNRISE COAL COMPANY',
 'Company_NAVE MINING CO INC',
 'Company_HURST & BRAY COAL CO INC',

In [151]:
import pickle
from google.colab import files

# save the model
filename = 'rf_trees.pkl'
pickle.dump(rf, open(filename, 'wb'))
files.download('rf_trees.pkl')

NameError: ignored

In [1]:
##### TESTING DROPSET

columns = all_mines_encoded.columns
column_to_exclude = ['mine_name','permit_id','trees', 'water', 'snow_and_ice','bare', 'built', 'shrub_and_scrub', 'crops']
columns = list(set(columns) - set(column_to_exclude))

selected_columns = all_mines_encoded[columns]

features = all_mines_encoded[columns]
target = all_mines_encoded['trees']

X, y = [], []


sequence_length = 4

for i in range(len(features) - sequence_length):
    X.append(features.iloc[i:i + sequence_length].values)
    y.append(target.iloc[i + sequence_length])

X = np.array(X)
y = np.array(y)

NameError: ignored

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=0)

In [ ]:
feature_length = X_train.shape[2]

In [ ]:
feature_length

In [ ]:
sequence_length

In [ ]:
data

In [ ]:
from keras.models import Model
from keras.layers import Input
from keras.layers import LSTM
import numpy as np

# define model
inputs1 = Input(shape=(2, 3))
lstm1, state_h, state_c = LSTM(1, return_sequences=True, return_state=True)(inputs1)
model = Model(inputs=inputs1, outputs=[lstm1, state_h, state_c])

# define input data
data = np.random.rand(2, 3)
data = data.reshape((1,2,3))

# make and show prediction
print(model.predict(data))

In [2]:
regressor = Sequential()
regressor.add(tf.keras.layers.Embedding(feature_length, 4, input_length=sequence_length))
regressor.add(LSTM(units = 32,
                    return_sequences = True,
                    activation = 'relu'))

regressor.add(LSTM(units = 32))
regressor.add(Dense(units = 1))
regressor.add(Dropout(0.10))

regressor.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['mean_squared_error'])
regressor.fit(X_train, y_train, epochs = 25, batch_size = 32)

NameError: ignored

In [ ]:
regressor = tf.keras.Sequential()
# Add an Embedding layer expecting input vocab of size 1000, and
# output embedding dimension of size 64.
regressor.add(tf.keras.layers.Embedding(input_dim=feature_length, output_dim=4))
regressor.add(LSTM(units = 32,
                    return_sequences = True,
                    activation = 'relu'))
regressor.add(Dense(units = 1))
regressor.add(Dropout(0.10))

regressor.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['mean_squared_error'])
regressor.fit(X_train, y_train, epochs = 25, batch_size = 32)

In [ ]:
regressor = Sequential()
regressor.add(LSTM(units = 32, input_shape=(3, X_train.shape[2]), return_sequences = True, activation = 'relu'))
regressor.add(Dropout(0.2))
regressor.add(Dense(units = 1))
regressor.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['mean_squared_error'])
regressor.fit(X_train, y_train, epochs = 25, batch_size = 32)

In [ ]:
regEmb = tf.keras.Sequential()
regEmb.add(tf.keras.layers.Embedding(input_dim=X_train.shape[2],output_dim=1,input_length=4))
regEmb.add(LSTM(units = 32, input_shape=(4, X_train.shape[2]), return_sequences = True,  activation = 'relu'))
regEmb.add(Dropout(0.2))
regEmb.add(Dense(units = 1))
regEmb.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['mean_squared_error'])
regEmb.fit(X_train, y_train, epochs = 25, batch_size = 32)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('\nMean Squared Error (MSE):', mse)
print('Mean Absolute Error (MAE):', mae)
print('R-squared (R^2):', r2)

In [ ]:
y_test

In [ ]:
res = (y_test - y_pred.tolist())
res = res.tolist()

In [ ]:
fig, axs = plt.subplots(ncols = 2,figsize = (8,4))
axs[0].scatter(x = y_pred, y = y_test,alpha = .5)
axs[0].set_title('Actual vs. Predicted Values')
axs[1].scatter(x = y_pred, y = res,alpha=.5)
axs[1].set_title('Residuals vs. Predicted Values')
fig.suptitle('Cross-Validated Predictions Plot')

In [ ]:
plt.plot(y_test,
         color = 'red',
         label = 'Acrual values')

plt.plot(y_pred,
         color = 'blue',
         label = 'Predicted values')

plt.legend()
plt.xlim(0, 50) # change to see everything
plt.title('Actual vs. Predicted Values')
plt.xlabel('Observation')
plt.ylabel('Value of Trees Variable')

plt.show()

In [ ]:
plt.scatter(range(len(y_test)),
            y_test,
            color = 'red',
            label = 'Actual Values')

plt.scatter(range(len(y_pred)),
            y_pred,
            color = 'blue',
            label = 'Predicted Values')

plt.legend()
plt.title('Actual vs. Predicted Values')
plt.xlim(0, 50) # change to see everything
plt.xlabel('Observation')
plt.ylabel('Value of Trees Variable')

plt.show()

In [ ]:
error = y_test - y_pred.flatten()
plt.hist(error, bins = 30)
plt.xlabel('Prediction Error')
plt.ylabel('Frequency')
plt.title('Distribution of Prediction Errors')

plt.show()

# stack overflow
# A symmetric and narrow distribution around zero
# indicates better prediction accuracy.

In [ ]:
plt.scatter(y_test, error, color = 'red')
plt.axhline(y = 0,
            color = 'blue',
            linestyle = '--',
            linewidth = 2)

plt.xlabel('Actual Values')
plt.ylabel('Prediction Error')
plt.title('Prediction Error vs. Actual Values')

plt.show()

In [ ]:
# do we need to scale the data??

In [ ]:
# prompt: create random forest regression model on X_train, y_train, X_test, y_test

columns = all_mines_encoded.columns
column_to_exclude = ['mine_name','permit_id','trees', 'water', 'snow_and_ice','bare', 'built', 'shrub_and_scrub', 'crops']
columns = list(set(columns) - set(column_to_exclude))

selected_columns = all_mines_encoded[columns]

features = all_mines_encoded[columns]
target = all_mines_encoded['trees']

X = features
y = target

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=0)

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=100, random_state=0)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('\nMean Squared Error (MSE):', mse)
print('Mean Absolute Error (MAE):', mae)
print('R-squared (R^2):', r2)