<a href="https://colab.research.google.com/github/taddbackus/capstone/blob/main/Testing_the_clean_up_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install keras

Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (2.13.1)

In [2]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import SimpleRNN, Dense
from keras.layers import LSTM
from keras.layers import Dropout

In [3]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import matplotlib.pyplot as plt

In [4]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [5]:

all_mines = pd.read_csv('/content/drive/MyDrive/Mines_Data_Clean/all_mines_no_filter_with_precip.csv')
all_mines = pd.DataFrame(all_mines)

<ipython-input-5-0d4bec27f980>:1: DtypeWarning: Columns (6,16,18,19,20,21,35,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  all_mines = pd.read_csv('/content/drive/MyDrive/Mines_Data_Clean/all_mines_no_filter_with_precip.csv')

In [6]:
columns_to_drop = ['Unnamed: 0']
all_mines = all_mines.drop(columns = columns_to_drop)


all_mines.columns

Index(['Company', 'start_date', 'Observations', 'orig_perm_id', 'mine_id',
       'State', 'water', 'trees', 'grass', 'flooded_vegetation', 'crops',
       'shrub_and_scrub', 'built', 'bare', 'snow_and_ice', 'company',
       'coalmine_op_status', 'mine_name', 'permit_id', 'national_id',
       'coal_bed_names', 'inspectable_unit_status', 'post_smcra',
       'reported_area', 'permit_application_type', 'area_mine', 'contour',
       'mountaintop', 'steep_slope', 'highwall', 'auger', 'contact',
       'Number_company_to_permit_id', 'edit_month', 'edit_year',
       'permit_weekday', 'permit_approval_month', 'permit_approval_year',
       'permit_application_year', 'WaterQuality', 'Max Temperature',
       'Precipitation'],
      dtype='object')

In [7]:
all_mines = all_mines.sort_values(by=['permit_id', 'start_date']).reset_index()

In [8]:
#all_mines = pd.read_csv('/Users\\austi\\Documents\\Capstone\\Working\\For real\\Capstone Data\\all_mines.csv')

all_mines.head(15)

,index,Company,start_date,Observations,orig_perm_id,mine_id,State,water,trees,grass,...,Number_company_to_permit_id,edit_month,edit_year,permit_weekday,permit_approval_month,permit_approval_year,permit_application_year,WaterQuality,Max Temperature,Precipitation
0,13464,TENNESSEE KENTUCKY COAL CO,2019-07-01,8.0,0070010,00000000000000001e70,ky,0.029045,0.747375,0.031408,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,-0.266105,300.600006,28.100000
1,18385,TENNESSEE KENTUCKY COAL CO,2021-07-01,4.0,0070010,00000000000000001e70,ky,0.032193,0.516882,0.051611,...,0.0,11.0,1999,Saturday,12.0,1899,NaT,-0.588503,299.100006,56.200001
2,3821,TENNESSEE KENTUCKY COAL CO,2023-07-01,4.0,0070010,00000000000000001e70,ky,0.021954,0.670695,0.064824,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,0.056293,302.100006,0.000000
3,14135,WATERS COAL CO,2019-07-01,4.0,0070015,00000000000000001e71,ky,0.030826,0.733858,0.035286,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,-0.221152,301.799988,0.000000
4,19064,WATERS COAL CO,2021-07-01,4.0,0070015,00000000000000001e71,ky,0.031337,0.740100,0.033135,...,0.0,11.0,1999,Saturday,12.0,1899,NaT,-0.705038,298.399994,53.000000
5,4504,WATERS COAL CO,2023-07-01,4.0,0070015,00000000000000001e71,ky,0.029417,0.744496,0.034142,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,0.051123,301.600006,0.000000
6,14136,MAGNUM EQUIPMENT CO,2019-07-01,6.0,0070017,00000000000000001e72,ky,0.033030,0.731213,0.036031,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,-0.632698,303.500000,0.000000
7,19065,MAGNUM EQUIPMENT CO,2021-07-01,12.0,0070017,00000000000000001e72,ky,0.033021,0.730987,0.034570,...,0.0,11.0,1999,Saturday,12.0,1899,NaT,-0.685335,300.600006,67.500000
8,4505,MAGNUM EQUIPMENT CO,2023-07-01,6.0,0070017,00000000000000001e72,ky,0.032437,0.736611,0.035406,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,0.031698,303.299988,0.000000
9,25337,T C BELL INC,2017-07-01,15.0,0070019,00000000000000001e73,ky,0.026459,0.753329,0.031344,...,0.0,11.0,1999,Saturday,12.0,1899,NaT,-0.531245,302.024994,16.725000
10,10344,T C BELL INC,2019-07-01,30.0,0070019,00000000000000001e73,ky,0.031436,0.737528,0.033672,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,-0.676931,302.799988,0.000000
11,7049,T C BELL INC,2021-07-01,59.0,0070019,00000000000000001e73,ky,0.029620,0.695838,0.040055,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,-0.741059,299.799988,66.900002
12,670,T C BELL INC,2023-07-01,30.0,0070019,00000000000000001e73,ky,0.028744,0.750542,0.032542,...,0.0,11.0,1999.0,Saturday,12.0,1899,NaT,-0.280653,302.700012,0.000000
13,21420,ISLAND COAL CO,2021-07-01,8.0,0070020,00000000000000001e74,ky,0.028240,0.745875,0.031606,...,0.0,11.0,1999,Saturday,12.0,1899,NaT,-0.555605,299.799988,71.900002
14,23401,ISLAND COAL CO,2023-07-01,4.0,0070020,00000000000000001e74,ky,0.027718,0.754101,0.031860,...,0.0,11.0,1999,Saturday,12.0,1899,NaT,-0.407451,302.600006,0.000000

In [9]:
all_mines['start_date'].unique()

array(['2019-07-01', '2021-07-01', '2023-07-01', '2017-07-01'],
      dtype=object)

In [10]:
all_mines.dtypes

index                            int64
Company                         object
start_date                      object
Observations                   float64
orig_perm_id                    object
mine_id                         object
State                           object
water                          float64
trees                          float64
grass                          float64
flooded_vegetation             float64
crops                          float64
shrub_and_scrub                float64
built                          float64
bare                           float64
snow_and_ice                   float64
company                         object
coalmine_op_status             float64
mine_name                       object
permit_id                       object
national_id                     object
coal_bed_names                  object
inspectable_unit_status        float64
post_smcra                     float64
reported_area                  float64
permit_application_type        float64
area_mine                      float64
contour                        float64
mountaintop                    float64
steep_slope                    float64
highwall                       float64
auger                          float64
contact                        float64
Number_company_to_permit_id    float64
edit_month                     float64
edit_year                       object
permit_weekday                  object
permit_approval_month          float64
permit_approval_year            object
permit_application_year         object
WaterQuality                   float64
Max Temperature                float64
Precipitation                  float64
dtype: object

In [11]:
for column_name, dtype in all_mines.dtypes.items():
    if dtype == 'object':
        column_values = all_mines[column_name]

        num_unique_values = column_values.nunique()

        print(f'Column: {column_name}')
        print(f'Number of Unique Values: {num_unique_values}\n')
        value_counts = column_values.value_counts()
        print(value_counts)
        print('-------------------------------------------\n')

Column: Company
Number of Unique Values: 3065

REVELATION ENERGY LLC                525
MARTIN COUNTY COAL CORPORATION       389
LCC KENTUCKY LLC                     362
NALLY & HAMILTON ENTERPRISES INC     320
ICG HAZARD LLC                       318
                                    ...
LOGAN FORK COAL COMPANY                1
J & N PROCESSING COMPANY, L.L.C.       1
PERFORMANCE COAL COMPANY, LLC          1
CRADDOCK & SON COAL COMPANY, INC.      1
SPARKY MINING COMPANY                  1
Name: Company, Length: 3065, dtype: int64
-------------------------------------------

Column: start_date
Number of Unique Values: 4

2019-07-01    9995
2021-07-01    9702
2017-07-01    9597
2023-07-01    9368
Name: start_date, dtype: int64
-------------------------------------------

Column: orig_perm_id
Number of Unique Values: 8860

8970346    24
0130182    24
0070128    24
0268001    24
8980437    24
           ..
U003600     1
0985412     1
S303187     1
S302791     1
R067100     1
Name: orig_perm_id, Length: 8860, dtype: int64
-------------------------------------------

Column: mine_id
Number of Unique Values: 8632

0000000000000000003f    13
00000000000000000085    12
00000000000000000081    12
0000000000000000009a    12
0000000000000000005f    12
                        ..
00000000000000002d36     4
00000000000000002d33     4
00000000000000002d32     4
00000000000000002d31     4
00000000000000003139     4
Name: mine_id, Length: 8632, dtype: int64
-------------------------------------------

Column: State
Number of Unique Values: 3

ky    26530
wv     3929
tn      403
Name: State, dtype: int64
-------------------------------------------

Column: company
Number of Unique Values: 1919

NALLY & HAMILTON ENTERPRISES INC    168
MARTY CORP                          105
JAMIESON CONSTRUCTION COMPANY       102
GATLIFF COAL COMPANY                102
IKERD BANDY CO INC                   95
                                   ...
DUNN COAL & DOCK CO                   1
WHITE BUCK COAL COMPANY               1
INTERCONTINENTAL VENTURES             1
TSM MINING, INC.                      1
McCoy Enterprises Inc                 1
Name: company, Length: 1919, dtype: int64
-------------------------------------------

Column: mine_name
Number of Unique Values: 1233

MINE NO 1                    34
MINE #2                      22
MINE #1                      19
SURFACE MINE                 17
MINE NO 2                    17
                             ..
RAMADA NO. 2                  1
V.C. NO. 43 MINE              1
BEECH RUN DEEP MINE NO. 1     1
MERCER SEAM DEEP MINE         1
NOTOMINE SURFACE MINE         1
Name: mine_name, Length: 1233, dtype: int64
-------------------------------------------

Column: permit_id
Number of Unique Values: 7009

S107386    16
0980164    15
0580092    11
0807001    11
0320091     9
           ..
U200401     1
R063000     1
R059100     1
U200387     1
S000982     1
Name: permit_id, Length: 7009, dtype: int64
-------------------------------------------

Column: national_id
Number of Unique Values: 7009

WVS107386    16
KY0980164    15
KY0580092    11
KY0807001    11
KY0320091     9
             ..
WVU200401     1
WVR063000     1
WVR059100     1
WVU200387     1
WVS000982     1
Name: national_id, Length: 7009, dtype: int64
-------------------------------------------

Column: coal_bed_names
Number of Unique Values: 1187

BLUE GEM                                     665
MANCHESTER                                   323
BLUE GEM, JELLICO                            290
RIVER GEM                                    256
LILY                                         236
                                            ...
BROAZ, PEACH ORCHARD                           1
LOWER ELKHORN, NO 2 ELKHORN, NO 3 ELKHORN      1
CLILTON                                        1
BENNETT'S FORK                                 1
SPLASHDAM                                      1
Name: coal_bed_names, Length: 1187, dtype: int64
-------------------------------------------

Column: edit_year
Number of Unique Values: 42

2000.0    4141
1999.0    3938
NaT       3931
2000      3628
1999      3122
2023       261
2004.0     187
2004       174
2011.0     172
2003.0     134
2011       125
2003       102
2001.0      88
2002        87
2001        71
2002.0      67
2018.0      66
2014.0      58
2018        55
2016.0      42
2017.0      40
2012        39
2016        39
2015.0      36
2015        36
2005        34
2012.0      32
2017        31
2013.0      31
2008.0      26
2005.0      22
2006.0      22
2014        21
2013        21
2006        20
2009.0      16
2007        14
2007.0      14
2009        12
2008         9
2010.0       5
2010         4
Name: edit_year, dtype: int64
-------------------------------------------

Column: permit_weekday
Number of Unique Values: 7

Saturday     7159
Thursday     2818
Wednesday    2759
Tuesday      2700
Friday       2640
Monday       2622
Sunday        223
Name: permit_weekday, dtype: int64
-------------------------------------------

Column: permit_approval_year
Number of Unique Values: 51

1899    7056
1984    1280
1977    1210
1978     842
1983     838
1979     789
1987     681
1985     655
1986     637
1988     550
1976     538
1982     516
1980     477
1981     401
1989     394
1992     321
1991     320
1990     253
1996     241
1994     228
1975     226
1993     211
1974     173
1997     167
2001     156
1995     154
1998     141
2003     141
2002     136
1999     124
2006     120
2008     115
2005     107
2004      97
2007      93
2010      87
2000      74
1973      68
2012      65
2009      63
NaT       52
2013      51
2011      36
2014      20
2015      18
1971      12
2017      12
1970      11
1972       8
2018       5
2016       3
Name: permit_approval_year, dtype: int64
-------------------------------------------

Column: permit_application_year
Number of Unique Values: 2

NaT     20969
1899        4
Name: permit_application_year, dtype: int64
-------------------------------------------

In [12]:
columns_to_encode = ['Company', 'start_date']

all_mines_encoded = pd.get_dummies(all_mines, columns=columns_to_encode)
object_columns = all_mines_encoded.select_dtypes(include=['object'])
all_mines_encoded = all_mines_encoded.drop(columns=object_columns.columns)

In [13]:
all_mines_encoded.columns

Index(['index', 'Observations', 'water', 'trees', 'grass',
       'flooded_vegetation', 'crops', 'shrub_and_scrub', 'built', 'bare',
       ...
       'Company_ZEMA MINING COMPANY', 'Company_ZEPHYER COAL COMPANY INC',
       'Company_ZEPHYR MINING CO', 'Company_ZINN COAL CORPORATION',
       'Company_ZODIAC MINING, INC.', 'Company_ZY COAL COMPANY',
       'start_date_2017-07-01', 'start_date_2019-07-01',
       'start_date_2021-07-01', 'start_date_2023-07-01'],
      dtype='object', length=3098)

In [14]:
for column_name in all_mines_encoded.columns:
    if all_mines_encoded[column_name].dtype == 'int64':
        all_mines_encoded[column_name] = all_mines_encoded[column_name].astype('float32')

all_mines_encoded

,index,Observations,water,trees,grass,flooded_vegetation,crops,shrub_and_scrub,built,bare,...,Company_ZEMA MINING COMPANY,Company_ZEPHYER COAL COMPANY INC,Company_ZEPHYR MINING CO,Company_ZINN COAL CORPORATION,"Company_ZODIAC MINING, INC.",Company_ZY COAL COMPANY,start_date_2017-07-01,start_date_2019-07-01,start_date_2021-07-01,start_date_2023-07-01
0,13464.0,8.0,0.029045,0.747375,0.031408,0.025280,0.029814,0.036664,0.031500,0.036222,...,0,0,0,0,0,0,0,1,0,0
1,18385.0,4.0,0.032193,0.516882,0.051611,0.027663,0.111608,0.079988,0.036708,0.036163,...,0,0,0,0,0,0,0,0,1,0
2,3821.0,4.0,0.021954,0.670695,0.064824,0.024527,0.044877,0.069876,0.029673,0.029886,...,0,0,0,0,0,0,0,0,0,1
3,14135.0,4.0,0.030826,0.733858,0.035286,0.027421,0.031867,0.039150,0.032288,0.036838,...,0,0,0,0,0,0,0,1,0,0
4,19064.0,4.0,0.031337,0.740100,0.033135,0.028886,0.030761,0.035582,0.031605,0.035315,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38657,27248.0,2.0,0.032422,0.547989,0.056670,0.044381,0.066788,0.074948,0.055281,0.041408,...,0,0,0,0,0,0,0,0,0,1
38658,27305.0,3.0,0.027210,0.740494,0.035314,0.025197,0.033700,0.038406,0.032508,0.033599,...,0,0,0,0,0,0,0,0,0,1
38659,27368.0,6.0,0.027466,0.693140,0.046976,0.027153,0.042630,0.053391,0.033973,0.030361,...,0,0,0,0,0,0,0,0,0,1
38660,27618.0,3.0,0.032560,0.196347,0.048224,0.029943,0.048412,0.037446,0.360315,0.045383,...,0,0,0,0,0,0,0,0,0,1
38661,27676.0,37.0,0.029362,0.722422,0.034934,0.027830,0.032933,0.041480,0.033401,0.036840,...,0,0,0,0,0,0,0,0,0,1

In [15]:
all_mines_encoded = all_mines_encoded.replace({True: 1, False: 0})

all_mines_encoded

,index,Observations,water,trees,grass,flooded_vegetation,crops,shrub_and_scrub,built,bare,...,Company_ZEMA MINING COMPANY,Company_ZEPHYER COAL COMPANY INC,Company_ZEPHYR MINING CO,Company_ZINN COAL CORPORATION,"Company_ZODIAC MINING, INC.",Company_ZY COAL COMPANY,start_date_2017-07-01,start_date_2019-07-01,start_date_2021-07-01,start_date_2023-07-01
0,13464.0,8.0,0.029045,0.747375,0.031408,0.025280,0.029814,0.036664,0.031500,0.036222,...,0,0,0,0,0,0,0,1,0,0
1,18385.0,4.0,0.032193,0.516882,0.051611,0.027663,0.111608,0.079988,0.036708,0.036163,...,0,0,0,0,0,0,0,0,1,0
2,3821.0,4.0,0.021954,0.670695,0.064824,0.024527,0.044877,0.069876,0.029673,0.029886,...,0,0,0,0,0,0,0,0,0,1
3,14135.0,4.0,0.030826,0.733858,0.035286,0.027421,0.031867,0.039150,0.032288,0.036838,...,0,0,0,0,0,0,0,1,0,0
4,19064.0,4.0,0.031337,0.740100,0.033135,0.028886,0.030761,0.035582,0.031605,0.035315,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38657,27248.0,2.0,0.032422,0.547989,0.056670,0.044381,0.066788,0.074948,0.055281,0.041408,...,0,0,0,0,0,0,0,0,0,1
38658,27305.0,3.0,0.027210,0.740494,0.035314,0.025197,0.033700,0.038406,0.032508,0.033599,...,0,0,0,0,0,0,0,0,0,1
38659,27368.0,6.0,0.027466,0.693140,0.046976,0.027153,0.042630,0.053391,0.033973,0.030361,...,0,0,0,0,0,0,0,0,0,1
38660,27618.0,3.0,0.032560,0.196347,0.048224,0.029943,0.048412,0.037446,0.360315,0.045383,...,0,0,0,0,0,0,0,0,0,1
38661,27676.0,37.0,0.029362,0.722422,0.034934,0.027830,0.032933,0.041480,0.033401,0.036840,...,0,0,0,0,0,0,0,0,0,1

In [16]:
nan_count = all_mines_encoded.isna().sum()

nan_count_sorted = nan_count.sort_values(ascending=False)

print(nan_count_sorted.head(12))

reported_area              38662
permit_application_type    38658
edit_month                 21620
permit_approval_month      17741
highwall                   17028
inspectable_unit_status    16524
steep_slope                13740
mountaintop                13740
contour                    13740
area_mine                  13740
auger                      13740
post_smcra                 11812
dtype: int64

In [18]:
for i in all_mines_encoded.columns:
    if all_mines_encoded[i].isna().sum() > 0:
        print('{} has {}% NAs'.format(i,(all_mines_encoded[i].isna().sum() / len(all_mines_encoded))*100))

coalmine_op_status has 30.531271015467382% NAs
inspectable_unit_status has 42.739640991154104% NAs
post_smcra has 30.551963167968548% NAs
reported_area has 100.0% NAs
permit_application_type has 99.98965392374942% NAs
area_mine has 35.538771920749056% NAs
contour has 35.538771920749056% NAs
mountaintop has 35.538771920749056% NAs
steep_slope has 35.538771920749056% NAs
highwall has 44.04324659872743% NAs
auger has 35.538771920749056% NAs
contact has 30.531271015467382% NAs
Number_company_to_permit_id has 30.531271015467382% NAs
edit_month has 55.92054213439553% NAs
permit_approval_month has 45.88743469039367% NAs
WaterQuality has 14.000827686100045% NAs
Max Temperature has 13.993068128912109% NAs
Precipitation has 13.993068128912109% NAs

In [19]:
#very quick imputation
all_mines_encoded = all_mines_encoded.fillna(0)

In [22]:
##### TESTING DROPSET

columns = all_mines_encoded.columns
column_to_exclude = ['mine_name','permit_id','trees', 'water', 'snow_and_ice','bare', 'built', 'shrub_and_scrub', 'crops']
columns = list(set(columns) - set(column_to_exclude))
selected_columns = all_mines_encoded[columns]

features = all_mines_encoded[columns]
target = all_mines_encoded['trees']

X, y = [], []

sequence_length = 4

for i in range(len(features) - sequence_length):
    X.append(features.iloc[i:i + sequence_length].values)
    y.append(target.iloc[i + sequence_length])

X = np.array(X)
y = np.array(y)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,  random_state=0)

In [ ]:
feature_length = X_train.shape[2]

regressor = Sequential()
#regressor.add(tf.keras.layers.Embedding(input_dim=X_train.shape[2], output_dim=4))

regressor.add(LSTM(units = 50,
                    input_shape=(sequence_length, X_train.shape[2]),
                  return_sequences = True,
                  activation = 'relu'))
regressor.add(Dropout(0.2))
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))
regressor.add(Dense(units = 1))
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')
regressor.fit(X_train, y_train, epochs = 50, batch_size = 32)

y_pred = regressor.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean Squared Error (MSE):', mse)
print('Mean Absolute Error (MAE):', mae)
print('R-squared (R^2):', r2)

WARNING:tensorflow:Layer lstm_17 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

Epoch 1/50
967/967 [==============================] - 19s 13ms/step - loss: 0.0284
Epoch 2/50
967/967 [==============================] - 12s 12ms/step - loss: 0.0198
Epoch 3/50
967/967 [==============================] - 12s 12ms/step - loss: 0.0194
Epoch 4/50
967/967 [==============================] - 11s 12ms/step - loss: 0.0191
Epoch 5/50
967/967 [==============================] - 11s 12ms/step - loss: 0.0189
Epoch 6/50
967/967 [==============================] - 11s 12ms/step - loss: 0.0187
Epoch 7/50
967/967 [==============================] - 11s 12ms/step - loss: 0.0186
Epoch 8/50
967/967 [==============================] - 11s 12ms/step - loss: 0.0184
Epoch 9/50
967/967 [==============================] - 11s 12ms/step - loss: 0.0184
Epoch 10/50
967/967 [==============================] - 11s 12ms/step - loss: 0.0183
Epoch 11/50
967/967 [==============================] - 11s 12ms/step - loss: 0.0183
Epoch 12/50
967/967 [==============================] - 11s 12ms/step - loss: 0.0183
Epoch 13/50
967/967 [==============================] - 11s 12ms/step - loss: 0.0182
Epoch 14/50
967/967 [==============================] - 11s 12ms/step - loss: 0.0182
Epoch 15/50
967/967 [==============================] - 12s 12ms/step - loss: 0.0182
Epoch 16/50
967/967 [==============================] - 11s 12ms/step - loss: 0.0182
Epoch 17/50
967/967 [==============================] - 11s 12ms/step - loss: 0.0182
Epoch 18/50
332/967 [=========>....................] - ETA: 7s - loss: 0.0184

In [ ]:
model = Sequential()
#Adding the first LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50, return_sequences = True, input_shape = (X_train.shape[1], 1)))
model.add(Dropout(0.2))
# Adding a second LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50, return_sequences = True))
model.add(Dropout(0.2))
# Adding a third LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50, return_sequences = True))
model.add(Dropout(0.2))
# Adding a fourth LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50))
model.add(Dropout(0.2))
# Adding the output layer
model.add(Dense(units = 1))

# Compiling the RNN
model.compile(optimizer = 'adam', loss = 'mean_squared_error')

# Fitting the RNN to the Training set

In [32]:
feature_length = X_train.shape[2]

regressor = Sequential()
#regressor.add(tf.keras.layers.Embedding(input_dim=X_train.shape[2], output_dim=4))

regressor.add(LSTM(units = 50,
                    input_shape=(sequence_length, X_train.shape[2]),
                  return_sequences = True,
                  activation = 'relu'))
regressor.add(Dropout(0.2))
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))
regressor.add(Dense(units = 1))
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')
regressor.fit(X_train, y_train, epochs = 50, batch_size = 32)

WARNING:tensorflow:Layer lstm_15 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

Epoch 1/50
967/967 [==============================] - 11s 8ms/step - loss: 0.0445
Epoch 2/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0205
Epoch 3/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0197
Epoch 4/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0191
Epoch 5/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0188
Epoch 6/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0186
Epoch 7/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0184
Epoch 8/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0184
Epoch 9/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0203
Epoch 10/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0185
Epoch 11/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 12/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 13/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 14/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 15/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 16/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0182
Epoch 17/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 18/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 19/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 20/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0182
Epoch 21/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0182
Epoch 22/50
967/967 [==============================] - 9s 9ms/step - loss: 0.0182
Epoch 23/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0182
Epoch 24/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0182
Epoch 25/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0181
Epoch 26/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0183
Epoch 27/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0183
Epoch 28/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 29/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0182
Epoch 30/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0182
Epoch 31/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 32/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 33/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0182
Epoch 34/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0182
Epoch 35/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0182
Epoch 36/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 37/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 38/50
967/967 [==============================] - 9s 9ms/step - loss: 0.0182
Epoch 39/50
967/967 [==============================] - 9s 9ms/step - loss: 0.0182
Epoch 40/50
967/967 [==============================] - 8s 8ms/step - loss: 0.0182
Epoch 41/50
967/967 [==============================] - 8s 9ms/step - loss: 0.0182
Epoch 42/50
967/967 [==============================] - 9s 9ms/step - loss: 0.0182
Epoch 43/50
967/967 [==============================] - 9s 9ms/step - loss: 0.0182
Epoch 44/50
967/967 [==============================] - 9s 9ms/step - loss: 0.0182
Epoch 45/50
967/967 [==============================] - 9s 10ms/step - loss: 0.0183
Epoch 46/50
967/967 [==============================] - 9s 9ms/step - loss: 0.0182
Epoch 47/50
967/967 [==============================] - 9s 9ms/step - loss: 0.0182
Epoch 48/50
967/967 [==============================] - 9s 9ms/step - loss: 0.0182
Epoch 49/50
967/967 [==============================] - 9s 9ms/step - loss: 0.0182
Epoch 50/50
967/967 [==============================] - 9s 9ms/step - loss: 0.0182

In [38]:
regressor = Sequential()
#regressor.add(tf.keras.layers.Embedding(feature_length, 1, input_length=4))
regressor.add(LSTM(units = 32,
                    input_shape=(sequence_length, X_train.shape[2]),
                  return_sequences = True,
                  activation = 'relu'))

regressor.add(LSTM(units = 32))
regressor.add(Dropout(0.2))
regressor.add(Dense(units = 1))
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')
# Takes about 15 min for 50 epochs... dont think we need that many... maybe 25?

regressor.fit(X_train, y_train, epochs = 32, batch_size = 32)

WARNING:tensorflow:Layer lstm_22 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

InternalError: ignored

In [33]:
y_pred = regressor.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('\nMean Squared Error (MSE):', mse)
print('Mean Absolute Error (MAE):', mae)
print('R-squared (R^2):', r2)

242/242 [==============================] - 1s 3ms/step

Mean Squared Error (MSE): 0.01817208540388209
Mean Absolute Error (MAE): 0.10259285901689179
R-squared (R^2): -0.0023730806355746203

In [24]:
regressor = Sequential()
regressor.add(tf.keras.layers.Embedding(feature_length, 4, input_length=sequence_length))
regressor.add(LSTM(units = 32,
                    return_sequences = True,
                    activation = 'relu'))

regressor.add(LSTM(units = 32))
regressor.add(Dense(units = 1))
regressor.add(Dropout(0.10))

regressor.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['mean_squared_error'])
regressor.fit(X_train, y_train, epochs = 25, batch_size = 32)

WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

Epoch 1/25

ValueError: ignored

In [25]:
regressor = tf.keras.Sequential()
# Add an Embedding layer expecting input vocab of size 1000, and
# output embedding dimension of size 64.
regressor.add(tf.keras.layers.Embedding(input_dim=feature_length, output_dim=4))
regressor.add(LSTM(units = 32,
                    return_sequences = True,
                    activation = 'relu'))
regressor.add(Dense(units = 1))
regressor.add(Dropout(0.10))

regressor.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['mean_squared_error'])
regressor.fit(X_train, y_train, epochs = 25, batch_size = 32)

WARNING:tensorflow:Layer lstm_2 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

Epoch 1/25

ValueError: ignored

In [27]:
regEmb = tf.keras.Sequential()
regEmb.add(tf.keras.layers.Embedding(input_dim=X_train.shape[2],output_dim=1,input_length=4))
regEmb.add(LSTM(units = 32, input_shape=(4, X_train.shape[2]), return_sequences = True,  activation = 'relu'))
regEmb.add(Dropout(0.2))
regEmb.add(Dense(units = 1))
regEmb.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['mean_squared_error'])
regEmb.fit(X_train, y_train, epochs = 25, batch_size = 32)

WARNING:tensorflow:Layer lstm_4 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

Epoch 1/25

ValueError: ignored

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('\nMean Squared Error (MSE):', mse)
print('Mean Absolute Error (MAE):', mae)
print('R-squared (R^2):', r2)

In [ ]:
y_test

In [ ]:
res = (y_test - y_pred.tolist())
res = res.tolist()

In [ ]:
fig, axs = plt.subplots(ncols = 2,figsize = (8,4))
axs[0].scatter(x = y_pred, y = y_test,alpha = .5)
axs[0].set_title('Actual vs. Predicted Values')
axs[1].scatter(x = y_pred, y = res,alpha=.5)
axs[1].set_title('Residuals vs. Predicted Values')
fig.suptitle('Cross-Validated Predictions Plot')

In [ ]:
plt.plot(y_test,
         color = 'red',
         label = 'Acrual values')

plt.plot(y_pred,
         color = 'blue',
         label = 'Predicted values')

plt.legend()
plt.xlim(0, 50) # change to see everything
plt.title('Actual vs. Predicted Values')
plt.xlabel('Observation')
plt.ylabel('Value of Trees Variable')

plt.show()

In [ ]:
plt.scatter(range(len(y_test)),
            y_test,
            color = 'red',
            label = 'Actual Values')

plt.scatter(range(len(y_pred)),
            y_pred,
            color = 'blue',
            label = 'Predicted Values')

plt.legend()
plt.title('Actual vs. Predicted Values')
plt.xlim(0, 50) # change to see everything
plt.xlabel('Observation')
plt.ylabel('Value of Trees Variable')

plt.show()

In [ ]:
error = y_test - y_pred.flatten()
plt.hist(error, bins = 30)
plt.xlabel('Prediction Error')
plt.ylabel('Frequency')
plt.title('Distribution of Prediction Errors')

plt.show()

# stack overflow
# A symmetric and narrow distribution around zero
# indicates better prediction accuracy.

In [ ]:
plt.scatter(y_test, error, color = 'red')
plt.axhline(y = 0,
            color = 'blue',
            linestyle = '--',
            linewidth = 2)

plt.xlabel('Actual Values')
plt.ylabel('Prediction Error')
plt.title('Prediction Error vs. Actual Values')

plt.show()

In [ ]:
# do we need to scale the data??

In [ ]:
# prompt: create random forest regression model on X_train, y_train, X_test, y_test

columns = all_mines_encoded.columns
column_to_exclude = ['mine_name','permit_id','trees', 'water', 'snow_and_ice','bare', 'built', 'shrub_and_scrub', 'crops']
columns = list(set(columns) - set(column_to_exclude))

selected_columns = all_mines_encoded[columns]

features = all_mines_encoded[columns]
target = all_mines_encoded['trees']

X = features
y = target

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=0)

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=100, random_state=0)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('\nMean Squared Error (MSE):', mse)
print('Mean Absolute Error (MAE):', mae)
print('R-squared (R^2):', r2)